@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.loading_spinner {
    height: 80vh;
    display: grid;
    place-items: center;
}

.loading_spinner_circle {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border-top: 5px solid rgb(225, 60, 19);
    border-right: 5px solid transparent; 
    animation: spin 1s linear infinite ;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.login__btn { 

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  text-decoration: none;
  color: white;
  width: 95%;
  max-width: 80px;
  text-align: center;
  padding: 0.3rem 0.2rem;

  background: hsla(271, 100%, 50%, 1);
  background: linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );

  background: -moz-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  background: -webkit-linear-gradient(
    225deg,
    hsla(271, 100%, 50%, 1) 0%,
    hsla(294, 100%, 50%, 1) 100%
  );
  /* box-shadow: 20px 20px 60px #1f2634, -20px -20px 60px #1f2634; */
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;

   
    
    
    @media (max-width: 640px) {
        .login__btn {padding: 12px 0;
        font-size: 18px;
    } }
    
}

.login__btn:hover {
    color: cyan;
transition: all 0.2s ease-in-out;
 /* box-shadow:  20px 20px 60px #1F2634; */
box-shadow:rgb(107, 114, 224) 0px 0px 20px;
filter: brightness(1);

} 

.jodit-wysiwyg {
    min-height: calc(100vh - 250px) !important ;
}